{% extends 'base.html' %}

<body class="text-center">
{% block contents %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">LikeLion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="{% url 'home'%}">Home</a>
          <a class="nav-link" href="{% url 'profile'%}">Profile</a>
          <a class="nav-link" href="{% url 'contact'%}">Contact</a>
        </nav>
      </div>
    </header>
  
    <main role="main" class="inner cover">
      <h1 class="cover-heading">멋쟁이 사자처럼 8기</h1>
      <br>
      <p class="lead">멋쟁이 사자처럼 8기를 시작으로 시작된 김재욱의 블로그 입니다.</p>
      <br>
      <p class="lead">Main page</p>

      <p class="lead">
        <a href="{%url 'main'%}" class="btn btn-lg btn-secondary">Main</a>
      </p>
    </main>
  
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
</div>
{% endblock %}
</body>
  