{% extends 'base.html' %}
  
<body class="text-center">
{% block contents %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">LikeLion</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="{% url 'home'%}">Home</a>
            
        </nav>
      </div>
    </header>
  
    <main role="main" class="inner cover">
      <h1 class="cover-heading">MY CONTACT</h1>
      <br>
      <br>
      <h1 class="nav-lead">HP : 010 - 4692 - 8970 </h1>
      <h3 class="nav-lead">EMAIL : CONGRATUL@NAVER.COM </h3>
      <br>
      <br>
      <p class="lead">
        <a href="https://mail.naver.com/" class="btn btn-lg btn-secondary">Send mail</a>
      </p>
    </main>
  
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
</div>
{% endblock %}
</body>