{% extends 'base.html' %}

{% block contents %}
<br><br><br><br>
<div class="row" style="margin-bottom : 15px">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{details.title}}</h5>
          <h5 class="card-title">{{details.pub_date}}</h5>
          <p class="card-text">{{details.body}}</p>
          <a href="{% url 'edit' details.id%}" class="btn btn-primary">수정하기</a>
    <a href="{% url 'delete' details.id%}" class="btn btn-primary">삭제하기</a> 
        </div>
      </div>
    </div>
       
  </div>

<br><br><br><br>

<form action = >
  <div class="form-group col-md-4">
  <input type="text" class="form-control" placeholder='name'  name='reviwname'>
  </div>
  <div class="form-group col">
    <textarea class="form-control" placeholder='review' rows="1" name='review'></textarea>
  </div>
  <div class="text-right">
    <input class ="btn btn-info" type="submit" value = "submit">
  </div>
</form>


{% endblock %}